.questions{
    color: black;
    font-size: 30px;
    font-family: "roboto";
    font-weight: bold;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.option-button{
    width: 140px;
    height: 50px;
    border-radius: 6px;
    background-color: blue;
    color: white;
    text-align: center;
    text-shadow: white;
}